.header {
  background-color: $header-grey;

  @media screen and (max-width: 1090px) {
    padding: 0 20px;
  }

  &__auth {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__control {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
  }
}
