.header {
  background-color: $header-grey;
  height: 56px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 56px;
  }

  &__control {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
}
