.nav {
  display: flex;
  align-items: center;
  gap: 15px;

  &__icon {
    margin-right: 15px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__link {
    color: $dark-grey;
  }

  &__item {
    margin-right: 15px;
  }
}
