.article {
  &__feature-img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
  }

  &__list {
    margin-top: 20px;
  }

  &-preview {
    margin-bottom: 32px;
    display: flex;

    &__link {
      margin-top: 15px;
      margin-left: 5px;
    }

    &__info {
      display: flex;
    }

    &__icon {
      font-size: 60px;
      color: $normal-grey;
    }

    &__image {
      width: 272px;
      height: 250px;
      object-fit: cover;
    }

    &__content {
      padding-left: 15px;
    }

    &__skeleton {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $light-grey;
      width: 272px;
      height: 250px;
    }
  }

  &-detail {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 75% 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "left right";
    width: 100%;
    height: auto;

    @media screen and (max-width: 1090px) {
      grid-template-columns: 100%;
      grid-template-rows: repeat(2, 1fr);
    }

    &__info {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 10px 0;
      color: $dark-grey;
    }

    &__divider {
      width: 4px;
      height: 4px;
      background-color: $dark-grey;
      border-radius: 50%;
    }

    &__skeleton {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $light-grey;
      width: 100%;
      height: 500px;
    }

    &__comments {
      margin-top: 30px;
    }

    &__content {
      grid-area: left;
      padding-right: 30px;

      @media screen and (max-width: 1090px) {
        grid-area: 1 / 1 / 2 / 2;
      }
    }

    &__related {
      grid-area: right;

      @media screen and (max-width: 1090px) {
        grid-area: 2 / 1 / 3 / 2;
      }

      &-container {
        padding-left: 30px;
        border-left: 1px solid grey;
      }

      &-list {
        margin-top: 20px;
      }
    }

    &__image {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
      margin: 20px 0;

      &-box {
        margin-bottom: "60px 0";
      }
    }
  }
}
