.article {
  &-preview {
    margin-bottom: 32px;
    display: flex;

    &__info {
      display: flex;
    }

    &__icon {
      font-size: 60px;
      color: $normal-grey;
    }

    &__image {
      width: 272px;
      height: 250px;
      object-fit: cover;
    }

    &__content {
      padding-left: 15px;
    }

    &__skeleton {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $light-grey;
      width: 272px;
      height: 250px;
    }
  }

  &-detail {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 75% 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "left right";
    width: 100%;
    height: auto;

    &__info {
      display: flex;
    }

    &__skeleton {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $light-grey;
      width: 100%;
      max-height: 400px;
    }

    &__content {
      grid-area: left;
      padding-right: 30px;
    }

    &__related {
      grid-area: right;

      &-container {
        padding-left: 30px;
        border-left: 1px solid grey;
      }

      &-list {
        margin-top: 20px;
      }
    }

    &__image {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
      margin: 20px 0;

      &-box {
        margin-bottom: "60px 0";
      }
    }
  }
}
